
.career1
{
text-align:center;
font-size:40px;
font-family:sans-serif;

 }
 .career2{
 text-align:center;
 font-size:30px
  }
  .career3
  {
  font-size:20px;
   }
  .career4
  {
  text-align:center;
  font-size:40px;
  font-family:serif;
  
   }
   .career5
   {
   font-size:25px;
    }
